<%- js('js/jquery_3.1.1.slim.min') %>
<%- js('js/tether_1.4.0.min') %>
<%- js('js/bootstrap_4.0.0-alpha.6.min') %>
<%- js('js/instantclick_3.0.1.min') %>
<script data-no-instant src="/js/main.js"></script>

<div class="container-fluid navbar-container m-sm-5">
    <nav class="navbar navbar-toggleable-sm navbar-light px-1 py-3 my-3 mb-sm-5">
        <span class="footer-text">Hosting on <a href="<%- config.root %>">Github</a></span>
    </nav>
</div>